.register_card{
    width: 98%;
    max-width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: lightblue;
    transition: 0.4s ease-out all;
}

.register_card:hover{
    box-shadow: 2px 2px 20px gray;
}